.card-title a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .card-title a:hover {
    color: #007bff;
  }

  .card {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  button{
    cursor: pointer;
  }

  .login-container {
    min-height: 100vh;
  }